body {
  background-image: url("leaves.jpg");
  background-size: 100%;
}
h1 {
  text-align: center;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 500%;
  margin-bottom: 10px;
  padding: 10px;
}
ul {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 75px 100px 15px 100px;
  border: 2px solid rgb(63, 52, 47);
  background: #093028;
  background: -webkit-linear-gradient(to right, #237a57, #093028);
  background: linear-gradient(to right, #237a57, #093028);
  opacity: 0.7;
  padding: 20px;
  padding-left: 40px;
  border-radius: 15px;
}
p {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 75px 100px 15px 100px;
  border: 2px solid rgb(63, 52, 47);
  background: #093028;
  background: -webkit-linear-gradient(to right, #237a57, #093028);
  background: linear-gradient(to right, #237a57, #093028);
  opacity: 0.7;
  padding: 20px;
  border-radius: 15px;
}
img {
  background-position: center;
  width: 300px;
  height: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 100%;
}
